
@{
    var rolist = ViewBag.rolist;
    var zonelist = ViewBag.zonelist;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <!-- form start -->
            @using (Html.BeginForm("ExportROZoneWiseSummary", "Recovery", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Month</span>

                                </div>
                                <input class="form-control" type="month" name="from_date" required id="from-date" />
                                <!--<input id="datemask" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/yyyy" data-mask>-->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Site</span>
                                </div>
                                <select class="form-control" name="contract" id="contract">
                                    <option value="IAL">IAL</option>
                                    <option value="ESCORTS">ESCORTS</option>
                                </select>

                            </div>
                        </div>
                    </div>




                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button id="btn-get-ro-zonewise-summary" class="btn btn-primary myPreLoader btn-sm" type="button">Submit</button>
                    <input class="btn btn-outline-primary pull-right  btn-sm" type="submit" value="Export to Excel" />
                </div>
            }
        </div>

    </div>
    <!-- /.card -->
   </div> 


<div class="card">
    <!--<div class="card-header">


        @*<input class="btn btn-outline-primary pull-right" type="submit" value="Export to Excel" />*@


    </div>
    /.card-header -->
    <div class="card-body">


        @*<button type="button" class="btn btn-block btn-outline-primary" onclick="tableToExcel('dailyStockReport', 'dailyStockReport')">Export to Excel</button>*@
        <div class="table-responsive">
            <!--<table id="dailyStockReport" class="table table-bordered table-striped table-condensed display nowrap" style="width:100%">-->
            <!--<table id="ro-table" class="table table-bordered table-striped table-condensed display nowrap" style="width:100%">-->
            <table id="ro-table" class="table-bordered table-header-rotated" style="width:100%; font-size:small" width="100%">
                <thead id="report-header">
                    <tr>
                        <th>SL No.</th>
                        <th>Zone Name</th>
                        <th>Opening Tar Inst Amt</th>
                        <th>Opening AOD</th>
                        <th>Monthly Coll</th>
                        <th>Inst Coll</th>
                        <th>OD Coll</th>
                        <th>Excell Coll</th>
                        <th>No. Veh</th>
                        <th>Attn Veh</th>
                        <th>G. Coll (%)</th>
                        <th>Inst. Coll (%)</th>
                        <th>Ovd. Coll (%)</th>
                        <th>Excess Coll (%)</th>
                        <th>Attn (%)</th>
                    </tr>
                </thead>
                <tbody id="ro-tbody">
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>
    <!-- /.card -->


@section Scripts{
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btn-get-ro-zonewise-summary').onclick = function () {

                var table = document.getElementById("ro-table");

                var from_date = document.getElementById('from-date').value;
                var contract = document.getElementById('contract').value;



                (async () => {
                    const rawResponse = await fetch('GetJsonRoZoneWiseSummary', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ from_date: from_date, contract: contract })
                    });
                    const roSummary = await rawResponse.json();
                    if (roSummary.length == 0) {
                        alert("Please Set Apropriate Date");
                    }
                    var i = 0;
                    document.querySelector('#ro-tbody').innerHTML = '';
                    var zone_group = "";

                    var TAR_INST_AMT = 0;
                    var ACTUAL_OD = 0;
                    var MONTHLY_COLL = 0;
                    var INST_COLL = 0;
                    var OD_COLECTION = 0;
                    var EXCESS_COLLECTION = 0;
                    var NO_OF_VEHICLE = 0;
                    var ATTEN_V = 0;
                    var GROUP_COLL_PERCENT = 0;
                    var INST_COLL_PERCENT = 0;
                    var OD_COLLECTION_PERCENT = 0;
                    var EXPRESS_COLL_PERCENT = 0;
                    var ATTEN_PERCENT = 0;



                    roSummary.forEach(rs => {
                        i += 1;
                        if (zone_group != "" && zone_group != rs["ZONE_GROUP"]) {


                            row = `<tr>
                                    <th></th>
                                    <th>GROUP ${zone_group} TOTAL</th>
                                    <th class="text-right">${Commas(TAR_INST_AMT)}</th>
                                    <th class="text-right">${Commas(ACTUAL_OD)}</th>
                                    <th class="text-right">${Commas(MONTHLY_COLL)}</th>
                                    <th class="text-right">${Commas(INST_COLL)}</th>
                                    <th class="text-right">${Commas(OD_COLECTION)}</th>
                                    <th class="text-right">${Commas(EXCESS_COLLECTION)}</th>
                                    <th class="text-right">${Commas(NO_OF_VEHICLE)}</th>
                                    <th class="text-right">${Commas(ATTEN_V)}</th>
                                    <th class="text-right">${Commas(GROUP_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(INST_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(OD_COLLECTION_PERCENT)}</th>
                                    <th class="text-right">${Commas(EXPRESS_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(ATTEN_PERCENT)}</th>
                               </tr>`;

                            document.querySelector('#ro-tbody').innerHTML += row;

                            TAR_INST_AMT = 0;
                            ACTUAL_OD = 0;
                            MONTHLY_COLL = 0;
                            INST_COLL = 0;
                            OD_COLECTION = 0;
                            EXCESS_COLLECTION = 0;
                            NO_OF_VEHICLE = 0;
                            ATTEN_V = 0;
                            GROUP_COLL_PERCENT = 0;
                            INST_COLL_PERCENT = 0;
                            OD_COLLECTION_PERCENT = 0;
                            EXPRESS_COLL_PERCENT = 0;
                            ATTEN_PERCENT = 0;

                            

                            
                        }

                        zone_group = rs["ZONE_GROUP"];

                        TAR_INST_AMT +=  parseInt(rs["TAR_INST_AMT"]);
                        ACTUAL_OD +=  parseInt(rs["ACTUAL_OD"]);
                        MONTHLY_COLL +=  parseInt(rs["MONTHLY_COLL"]);
                        INST_COLL +=  parseInt(rs["INST_COLL"]);
                        OD_COLECTION +=  parseInt(rs["OD_COLECTION"]);
                        EXCESS_COLLECTION +=  parseInt(rs["EXCESS_COLLECTION"]);
                        NO_OF_VEHICLE +=  parseInt(rs["NO_OF_VEHICLE"]);
                        ATTEN_V +=  parseInt(rs["ATTEN_V"]);
                        GROUP_COLL_PERCENT = Math.round( MONTHLY_COLL / TAR_INST_AMT*100,0);
                        INST_COLL_PERCENT = Math.round(INST_COLL / TAR_INST_AMT * 100, 0); 
                        OD_COLLECTION_PERCENT = Math.round(OD_COLECTION / ACTUAL_OD * 100, 0); 
                        EXPRESS_COLL_PERCENT = Math.round(EXCESS_COLLECTION / TAR_INST_AMT * 100, 0);
                        ATTEN_PERCENT = Math.round(ATTEN_V / NO_OF_VEHICLE * 100, 0);


                        row = `<tr>
                                    <td>${i}</td>
                                    <td>${rs["ZONE_NAME"]}</td>
                                    <td class="text-right">${Commas(rs["TAR_INST_AMT"])}</td>
                                    <td class="text-right">${Commas(rs["ACTUAL_OD"])}</td>
                                    <td class="text-right">${Commas(rs["MONTHLY_COLL"])}</td>
                                    <td class="text-right">${Commas(rs["INST_COLL"])}</td>
                                    <td class="text-right">${Commas(rs["OD_COLECTION"])}</td>
                                    <td class="text-right">${Commas(rs["EXCESS_COLLECTION"])}</td>
                                    <td class="text-right">${Commas(rs["NO_OF_VEHICLE"])}</td>
                                    <td class="text-right">${Commas(rs["ATTEN_V"])}</td>
                                    <td class="text-right">${Commas(rs["GROUP_COLL_PERCENT"])}</td>
                                    <td class="text-right">${Commas(rs["INST_COLL_PERCENT"])}</td>
                                    <td class="text-right">${Commas(rs["OD_COLLECTION_PERCENT"])}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right">${Commas(rs["ATTN_V_PERCENT"])}</td>
                               </tr>`;
                        document.querySelector('#ro-tbody').innerHTML += row;






                    });

                    hidePreloader();


                    row = `<tr>
                                    <th></th>
                                    <th>GROUP ${zone_group} TOTAL</th>
                                    <th class="text-right">${Commas(TAR_INST_AMT)}</th>
                                    <th class="text-right">${Commas(ACTUAL_OD)}</th>
                                    <th class="text-right">${Commas(MONTHLY_COLL)}</th>
                                    <th class="text-right">${Commas(INST_COLL)}</th>
                                    <th class="text-right">${Commas(OD_COLECTION)}</th>
                                    <th class="text-right">${Commas(EXCESS_COLLECTION)}</th>
                                    <th class="text-right">${Commas(NO_OF_VEHICLE)}</th>
                                    <th class="text-right">${Commas(ATTEN_V)}</th>
                                    <th class="text-right">${Commas(GROUP_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(INST_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(OD_COLLECTION_PERCENT)}</th>
                                    <th class="text-right">${Commas(EXPRESS_COLL_PERCENT)}</th>
                                    <th class="text-right">${Commas(ATTEN_PERCENT)}</th>
                               </tr>`;

                    document.querySelector('#ro-tbody').innerHTML += row;


                })();

            }

        });


    </script>
}