
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">


    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("PasswordChange", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="card-body">

                    <label>Current Password</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key "></i></span>
                        </div>
                        <input class="form-control" type="password" name="current_password" required id="current_password" />
                    </div>


                    <label>New Password</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" type="password" name="new_password" required id="new_password" />
                    </div>

                    <label>Confirm Password</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" type="password" name="confirm_password" required id="confirm_password" />
                    </div>

                    @ViewBag.message

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button id="btn-get-ro-summary" class="btn btn-primary" onclick="">Submit</button>
                </div>
            }
        </div>
    </div>
    <!-- /.card -->


    @section Scripts{
        <script>
            $("document").ready(function () {
                var confirm_password = $("confirm_password").val();
                var new_password = $("new_password").val();

                if (confirm_password != new_password) {
                    alert("Confirm password does not match");
                }
            });
        </script>
    }

