
@{
    var rolist = ViewBag.rolist;
    var zonelist = ViewBag.zonelist;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    @using (Html.BeginForm("ExportROSheet", "Report", FormMethod.Post))
    {
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Monthly RO Summary</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @*@using (Html.BeginForm("getROSummary", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {*@
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Select Month</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input class="form-control" type="month" name="from_date" required id="from-date" />
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label>Select Zone</label>
                            <select class="form-control select2" style="width: 100%;" name="zone_name" id="zone-name">
                                <option selected="" value="">Select</option>
                                @{
                                    foreach (System.Data.DataRow zone in zonelist.Rows)
                                    {
                                        <option value="@zone["ZONE_NAME"]">@zone["ZONE_NAME"]</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button id="btn-get-ro-summary" class="btn btn-primary" type="button">Submit</button>
                </div>
                @*}*@
            </div>
        </div>
        <!-- /.card -->



        <div class="card">
            <div class="card-header">

                <input class="btn btn-outline-primary" type="submit" value="Export to Excel" />
                

            </div>
            <!-- /.card-header -->
            <div class="card-body">





                @*<button type="button" class="btn btn-block btn-outline-primary" onclick="tableToExcel('dailyStockReport', 'dailyStockReport')">Export to Excel</button>*@
                <div class="table">
                    <!--<table id="dailyStockReport" class="table table-bordered table-striped table-condensed display nowrap" style="width:100%">-->
                    <table id="ro-table" class="table-responsive table-striped" style="width:100%">
                        <thead id="report-header">
                            <tr>
                                <th>SL No.</th>
                                <th>Zone Name</th>
                                <th>RO Code</th>
                                <th>RO Name</th>
                                <th>Target Inst. Amt</th>
                                <th>Actual OD</th>
                                <th>Monthly Coll</th>
                                <th>Inst Coll</th>
                                <th>OD Coll</th>
                                <th>Excell Coll</th>
                                <th>No. Veh</th>
                                <th>Attn Veh</th>
                                <th>Target Coll (%)</th>
                                <th>Inst. Coll (%)</th>
                                <th>Ovd. Coll (%)</th>
                                <th>Excess Coll (%)</th>
                                <th>Attn (%)</th>
                            </tr>
                        </thead>
                        <tbody id="ro-tbody">
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
      }
</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btn-get-ro-summary').onclick = function () {

            var table = document.getElementById("ro-table");

            var from_date = document.getElementById('from-date').value;
            var zone_name = document.getElementById('zone-name').value;


            (async () => {
                const rawResponse = await fetch('GetJsonROSummary', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ from_date: from_date, zone_name : zone_name })
                });
                const roSummary = await rawResponse.json();
                if (roSummary.length == 0) {
                    alert("Please Set Apropriate Date and Zone");
                }  

                var i = 0;
                document.querySelector('#ro-tbody').innerHTML = '';
                roSummary.forEach(rs => {
                    i += 1;
                    row = `<tr>
                                <td>${i}</td>
                                <td>${rs["ZONE_NAME"]}</td>
                                <td>${rs["RO_CODE"]}</td>
                                <td>${rs["RO_NAME"]}</td>
                                <td>${rs["TAR_INST_AMT"]}</td>
                                <td>${rs["ACTUAL_OD"]}</td>
                                <td>${rs["MONTHLY_COLL"]}</td>
                                <td>${rs["INST_COLL"]}</td>
                                <td>${rs["OD_COLECTION"]}</td>
                                <td>${rs["EXCESS_COLLECTION"]}</td>
                                <td>${rs["NO_OF_VEHICLE"]}</td>
                                <td>${rs["ATTEN_V"]}</td>
                                <td>${rs["TAR_COLL_PERCENT"]}</td>
                                <td>${rs["INST_COLL_PERCENT"]}</td>
                                <td></td>
                                <td></td>
                                <td>${rs["ATTN_V_PERCENT"]}</td>
                           </tr>`;
                    document.querySelector('#ro-tbody').innerHTML += row;

                });

                console.log(roSummary);


            })();

        }

    });


</script>